$primary: #FFE442;
$danger: #FFDFCA;
$secondary: #FFF6C6;
$warning: #CDD9EE;
$info: #FFAF7D;
$body-bg: #e4e4e4;

@import "bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}