$primary: #FFE442;
$danger: #FFDFCA;
$secondary: #FFF6C6;
$warning: #CDD9EE;
$info: #FFAF7D;
$body-bg: #e4e4e4;

@import "bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

div.custom-warning {
    position: relative;
    clip-path: polygon(0 25px,calc(15% - 25.00px) 25px,15% 0,calc(15% + 25.00px) 25px,100% 25px,100% 100%,0 100%);
}

div.custom-warning-pointer {
    width: 30px;
    height: 30px;
    position: absolute;
    transform: rotate(-45deg) translate(40px, 4px);
}

.popup {
    position: fixed;
    width: auto;
    margin: auto;
    top: 30%;
    z-index: 10080;
    background: $body-bg;
    padding: 0;
}

.popup-title {
    background: $warning;
    width: 100%;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}

.popup-body {
    padding: 1rem;
    font-size: 1.5rem;
}

.popup-buttons {
    text-align: center;
    padding: 0.5rem;
}